In [15]:
!jt -t oceans16

### Read in Libraries and Raw Files

In [16]:
import pandas as pd
import numpy as np
import os
import datetime as dt
import strgen
%config IPCompleter.greedy=True

In [17]:
print(os.getcwd())
os.listdir("C:\\Users\\chris\\OneDrive - Irwin's Safety and Industrial Labour Services Ltd\\Irwins\\raw_inputs")

C:\Users\chris\OneDrive - Irwin's Safety and Industrial Labour Services Ltd\Irwins\python_scripts

['AutomatedForm-V6 - SH1 - 03.13.2018.xlsm',
 'CEC-2018-Analytics.xlsm',
 'Enmax Shepard-April-2018.xlsm',
 'Joffre - V6 - March 2018 - 13.03.2018.xlsm',
 'Total Validated Data-2013-2016.csv']

In [18]:
path = "C:\\Users\\chris\\OneDrive - Irwin's Safety and Industrial Labour Services Ltd\\Irwins"

In [19]:
sh_raw = pd.read_excel(path+'\\raw_inputs\\AutomatedForm-V6 - SH1 - 03.13.2018.xlsm','DataBase_Clean')
sh_raw['Date']

0      29/11/2017
1      29/11/2017
2      29/11/2017
3      29/11/2017
4      29/11/2017
          ...
535    16/11/2017
536    16/11/2017
537    16/11/2017
538    16/11/2017
539    16/11/2017
Name: Date, Length: 540, dtype: object

In [20]:
sh_raw['csas_id']=strgen.StringGenerator("[\d]{10}").render_list(len(sh_raw),unique=True)
sh_raw.head()

,WorkOrder,Code of Practice,Work Areas,Facility,Date,Number of Crews,Shift,ScheduledST1,Attendant Arrival1,Space Open1,...,Attendant Arrival6,Space Open6,Work Start6,Work Stop6,WT/DT Cause Code6,Cause Note6,Prepared by,Submitted to,Comments,csas_id
0,444659,31720,Primary Superheater Inspection & Repair,Sheerness - Unit 1,29/11/2017,3,Day,07:45:00,09:45:00,09:45:00,...,NaN,NaN,NaN,NaN,NaN,NaN,Jacinta Okeye,Lauren Elise,could not enter plant until 09:45 because of R...,6198637195
1,444659,31730,Secondary Superheater/Reheater Inspection and ...,Sheerness - Unit 1,29/11/2017,2,Day,07:45:00,09:45:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Jacinta Okeye,Lauren Elise,could not enter plant until all clear from RT ...,6922622744
2,444659,31720,Primary Superheater Inspection & Repair,Sheerness - Unit 1,29/11/2017,2,Day,07:45:00,09:44:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Cody Branden,Lauren Elise,NaN,1245158959
3,444694,31720,Primary Superheater Inspection & Repair,Sheerness - Unit 1,29/11/2017,2,Day,07:50:00,09:50:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Shari Schnurr,Lauren Elise,NaN,7988405978
4,444694,31730,Secondary Superheater/Reheater Inspection and ...,Sheerness - Unit 1,29/11/2017,5,Day,07:50:00,09:50:00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Shari Schnurr,Lauren Elise,NaN,9946585899

### Define Functions that will fill in blank values and transform excel files to more useful formats

In [21]:
def timeconvert(x):
    """ Converts datetime.time to datetime.timedelta so that times can be differenced 
    to calculate durations"""
    if isinstance(x,dt.time):
        x = dt.timedelta(hours=x.hour, minutes=x.minute, 
                               seconds=x.second, microseconds=x.microsecond)
        return x
    else:
        return pd.NaT

In [22]:
# Create new dataframe to allow for cleaning
sh_clean = sh_raw
sh_clean['clean_date']=pd.to_datetime(sh_clean['Date'],dayfirst=True)
sh_clean['clean_date'].value_counts()

2017-11-24    43
2017-11-27    38
2017-11-23    38
2017-11-21    38
2017-11-28    37
2017-11-18    36
2017-11-17    35
2017-11-26    35
2017-11-22    34
2017-11-19    34
2017-11-25    33
2017-11-20    32
2017-11-16    32
2017-11-15    29
2017-11-29    27
2017-11-30    17
2017-12-01     2
Name: clean_date, dtype: int64

### The following four functions populate end times for No Work Periods, using either the start of the next phase or a two hours window.

In [23]:
def fill_nw1 (row):
    """ This function deals with instances where a NW code has been entered but there's no obvious way 
    to calculate the duration of 'no work'. This is specifically for the first portion of the day """
    if pd.isnull(row['Work Start1']) and row['WT/DT Cause Code1']=="NW (IT)":
        if pd.notnull(row['ScheduledST2']):
            time =  row['ScheduledST2']
        else:
            time = (dt.datetime.combine(dt.date(1,1,1),row['Space Open1']) + 
                    dt.timedelta(hours=2)).time()
    else:
        time =  row['Work Start1']
    return time

In [24]:
def fill_nw2 (row):
    if pd.isnull(row['Work Start2']) and row['WT/DT Cause Code2']=="NW (IT)":
        if pd.notnull(row['ScheduledST3']):
            time =  row['ScheduledST3']
        else:
            time = (dt.datetime.combine(dt.date(1,1,1),row['Space Open2']) + 
                    dt.timedelta(hours=2)).time()
    else:
        time =  row['Work Start2']
    return time

In [25]:
def fill_nw3 (row):
    if pd.isnull(row['Work Start3']) and row['WT/DT Cause Code3']=="NW (IT)":
        if pd.notnull(row['ScheduledST4']):
            time =  row['ScheduledST4']
        else:
            time = (dt.datetime.combine(dt.date(1,1,1),row['Space Open3']) + 
                    dt.timedelta(hours=2)).time()
    else:
        time =  row['Work Start3']
    return time

In [26]:
def fill_nw4 (row):
    if pd.isnull(row['Work Start4']) and row['WT/DT Cause Code4']=="NW (IT)":
        if pd.notnull(row['ScheduledST5']):
            time =  row['ScheduledST5']
        elif pd.notnull(row['Space Open4']):
            time = (dt.datetime.combine(dt.date(1,1,1),row['Space Open4']) + 
                    dt.timedelta(hours=2)).time()
        else:
            time = row['Work Start4'] 
    else:
        time =  row['Work Start4']
    return time

In [27]:
sh_clean['Work Start1'] = sh_clean.apply(fill_nw1,axis=1)
sh_clean['Work Start2'] = sh_clean.apply(fill_nw2,axis=1)
sh_clean['Work Start3'] = sh_clean.apply(fill_nw3,axis=1)
sh_clean['Work Start4'] = sh_clean.apply(fill_nw4,axis=1)

In [28]:
sh_clean.head()

,WorkOrder,Code of Practice,Work Areas,Facility,Date,Number of Crews,Shift,ScheduledST1,Attendant Arrival1,Space Open1,...,Space Open6,Work Start6,Work Stop6,WT/DT Cause Code6,Cause Note6,Prepared by,Submitted to,Comments,csas_id,clean_date
0,444659,31720,Primary Superheater Inspection & Repair,Sheerness - Unit 1,29/11/2017,3,Day,07:45:00,09:45:00,09:45:00,...,NaN,NaN,NaN,NaN,NaN,Jacinta Okeye,Lauren Elise,could not enter plant until 09:45 because of R...,6198637195,2017-11-29
1,444659,31730,Secondary Superheater/Reheater Inspection and ...,Sheerness - Unit 1,29/11/2017,2,Day,07:45:00,09:45:00,NaN,...,NaN,NaN,NaN,NaN,NaN,Jacinta Okeye,Lauren Elise,could not enter plant until all clear from RT ...,6922622744,2017-11-29
2,444659,31720,Primary Superheater Inspection & Repair,Sheerness - Unit 1,29/11/2017,2,Day,07:45:00,09:44:00,NaN,...,NaN,NaN,NaN,NaN,NaN,Cody Branden,Lauren Elise,NaN,1245158959,2017-11-29
3,444694,31720,Primary Superheater Inspection & Repair,Sheerness - Unit 1,29/11/2017,2,Day,07:50:00,09:50:00,NaN,...,NaN,NaN,NaN,NaN,NaN,Shari Schnurr,Lauren Elise,NaN,7988405978,2017-11-29
4,444694,31730,Secondary Superheater/Reheater Inspection and ...,Sheerness - Unit 1,29/11/2017,5,Day,07:50:00,09:50:00,NaN,...,NaN,NaN,NaN,NaN,NaN,Shari Schnurr,Lauren Elise,NaN,9946585899,2017-11-29

### Next, use cause codes to determine what time interval should be used to calculate non work time and tool time

In [29]:
def duration_calc(row):
    ''' This function takes the cause codes and uses them to determine what time interval 
    to use to calculate non work time'''
    start_time = pd.NaT
    stop_time = pd.NaT
    duration = pd.NaT
    time_phase = np.nan
    code_phase = np.nan
    if (row['WT/DT Cause Code']=='EF'or row['WT/DT Cause Code']=='C'or row['WT/DT Cause Code']=='L'):
        start_time = row['ScheduledST']
        stop_time = row['Attendant Arrival'] 
        time_phase = 'ArrivLessSched'
        code_phase = 'wait_time'
    
    if row['WT/DT Cause Code']=='GT':
        start_time = row['Attendant Arrival']
        stop_time = row['Space Open']
        time_phase = 'OpenLessArriv'
        code_phase = 'wait_time'

    if (row['WT/DT Cause Code']=='CD' or row['WT/DT Cause Code']=='IN' or row['WT/DT Cause Code']=='PE'
        or row['WT/DT Cause Code']=='V'):
        if pd.isnull(row['Space Open']):
            start_time = row['ScheduledST']
            stop_time = row['Attendant Arrival'] 
            time_phase = 'ArrivLessSched'
            code_phase = 'down_time'
        else:
            start_time = row['ScheduledST']
            stop_time= row['Space Open']
            time_phase = 'OpenLessSched'
            code_phase = 'down_time'
            
    if (row['WT/DT Cause Code']=='SB' or row['WT/DT Cause Code']=='S' or row['WT/DT Cause Code']=='I'
        or row['WT/DT Cause Code']=='NW'):
        start_time = row['Space Open']
        stop_time = row['Work Start']
        time_phase = 'StartLessOpen'
        code_phase = 'idle_time'
    if start_time > stop_time:
        duration=pd.NaT
    else:
        duration = stop_time - start_time
    return (start_time, stop_time,duration, time_phase, code_phase)

In [30]:
def duration_calc_other(row):
    ''' This function takes other intervals that are not coded, calculates duration, and assigns a 
    generic time code.  This is because the source sheet only had codes for one interval'''
    start_time = pd.NaT
    stop_time = pd.NaT
    duration = pd.NaT
    time_phase = np.nan
    code_phase = np.nan
    if (row['WT/DT Cause Code']=='EF'or row['WT/DT Cause Code']=='C'or row['WT/DT Cause Code']=='L' or
        row['WT/DT Cause Code']=='GT' or row['WT/DT Cause Code']=='CD' or row['WT/DT Cause Code']=='IN' or 
        row['WT/DT Cause Code']=='PE'or row['WT/DT Cause Code']=='V'):
            start_time = row['Space Open']
            stop_time = row['Work Start'] 
            time_phase = 'StartLessOpen'
            code_phase = 'nonwork_time'
            
    if (row['WT/DT Cause Code']=='SB' or row['WT/DT Cause Code']=='S' or row['WT/DT Cause Code']=='I'
        or row['WT/DT Cause Code']=='NW'):
        start_time = row['ScheduledST']
        stop_time = row['Space Open']
        time_phase = 'OpenLessSched'
        code_phase = 'nonwork_time'
    if start_time > stop_time:
        duration=pd.NaT
    else:
        duration = stop_time - start_time
    return (start_time, stop_time,duration, time_phase, code_phase)

In [31]:
def duration_calc_blank_it(row):
    ''' This function takes the entries that are blank, calculates duration, and assigns a 
    generic time code.  This is specific to the time between space open and work start.'''
    start_time = pd.NaT
    stop_time = pd.NaT
    duration = pd.NaT
    time_phase = np.nan
    code_phase = np.nan
    if pd.isnull(row['WT/DT Cause Code']):
            start_time = row['Space Open']
            stop_time = row['Work Start'] 
            time_phase = 'StartLessOpen'
            code_phase = 'nonwork_time'
    if start_time > stop_time:
        duration=pd.NaT
    else:
        duration = stop_time - start_time
    return (start_time, stop_time,duration, time_phase, code_phase)

In [32]:
def duration_calc_blank_wtdt(row):
    ''' This function takes other intervals that are blank, calculates duration, and assigns a 
    generic time code. This is specific to the time between Scheduled Start and Space Open'''
    start_time = pd.NaT
    stop_time = pd.NaT
    duration = pd.NaT
    time_phase = np.nan
    code_phase = np.nan
    if pd.isnull(row['WT/DT Cause Code']):
            start_time = row['ScheduledST']
            stop_time = row['Space Open'] 
            time_phase = 'OpenLessSched'
            code_phase = 'nonwork_time'
    if start_time > stop_time:
        duration=pd.NaT
    else:
        duration = stop_time - start_time
    return (start_time, stop_time,duration, time_phase, code_phase)

In [33]:
def non_work_transform(mydf):
    mydf['WT/DT Cause Code'] = mydf['WT/DT Cause Code'].str.split(" ").str[0]
    # Apply the first function
    df1 = mydf.copy()
    tempdf = df1.apply(duration_calc,axis=1,result_type='expand')
    df1['start_time'] = tempdf.iloc[:,0]
    df1['stop_time'] = tempdf.iloc[:,1]
    df1['duration'] = tempdf.iloc[:,2]
    df1['time_phase']= tempdf.iloc[:,3]
    df1['code_phase'] = tempdf.iloc[:,4]
    df1 = df1[['csas_id','Work Order', 'Code of Practice', 'Work Areas', 'Facility',
       'clean_date', 'Number of Crews', 'Shift', 'start_phase','time_phase', 'start_time','stop_time',
       'duration', 'WT/DT Cause Code', 'Note','code_phase' ]]
    # Second Function
    df2 = mydf.copy()
    tempdf = df2.apply(duration_calc_other,axis=1,result_type='expand')
    df2['start_time'] = tempdf.iloc[:,0]
    df2['stop_time'] = tempdf.iloc[:,1]
    df2['duration'] = tempdf.iloc[:,2]
    df2['time_phase']= tempdf.iloc[:,3]
    df2['code_phase'] = tempdf.iloc[:,4]
    df2 = df2[['csas_id','Work Order', 'Code of Practice', 'Work Areas', 'Facility',
       'clean_date', 'Number of Crews', 'Shift', 'start_phase','time_phase', 'start_time','stop_time',
       'duration','code_phase' ]]
    # Third Function
    df3 = mydf.copy()
    tempdf = df3.apply(duration_calc_blank_it,axis=1,result_type='expand')
    df3['start_time'] = tempdf.iloc[:,0]
    df3['stop_time'] = tempdf.iloc[:,1]
    df3['duration'] = tempdf.iloc[:,2]
    df3['time_phase']= tempdf.iloc[:,3]
    df3['code_phase'] = tempdf.iloc[:,4]
    df3 = df3[['csas_id','Work Order', 'Code of Practice', 'Work Areas', 'Facility',
       'clean_date', 'Number of Crews', 'Shift', 'start_phase','time_phase', 'start_time','stop_time',
       'duration','code_phase' ]]
    # Fourth Function
    df4 = mydf.copy()
    tempdf = df4.apply(duration_calc_blank_wtdt,axis=1,result_type='expand')
    df4['start_time'] = tempdf.iloc[:,0]
    df4['stop_time'] = tempdf.iloc[:,1]
    df4['duration'] = tempdf.iloc[:,2]
    df4['time_phase']= tempdf.iloc[:,3]
    df4['code_phase'] = tempdf.iloc[:,4]
    df4 = df4[['csas_id','Work Order', 'Code of Practice', 'Work Areas', 'Facility',
       'clean_date', 'Number of Crews', 'Shift', 'start_phase','time_phase', 'start_time','stop_time',
       'duration','code_phase' ]]
    return pd.concat([df1,df2,df3,df4])

In [34]:
def tool_time_transform(mydf_2):
    mydf_2['start_time'] = mydf_2['Work Start']
    mydf_2['stop_time'] = mydf_2['Work Stop']
    mydf_2['duration'] = mydf_2['tool_time']
    mydf_2['WT/DT Cause Code'] = None
    mydf_2['Note'] = None
    mydf_2['time_phase'] = 'StopLessStart'
    mydf_2['code_phase'] = 'tool_time'
    mydf_2 = mydf_2[['csas_id','Work Order', 'Code of Practice', 'Work Areas', 'Facility',
       'clean_date', 'Number of Crews', 'Shift', 'start_phase','time_phase', 'start_time','stop_time',
       'duration', 'WT/DT Cause Code', 'Note','code_phase' ]]
    return mydf_2

In [58]:
rawdf = sh_clean
templi=[]
li = []
starts = [1,2,3,4,5]
phase = [0,1,2,3]
index = ['csas_id','WorkOrder', 'Code of Practice', 'Work Areas', 'Facility','clean_date',
           'Number of Crews', 'Shift']
times_prefix = ['ScheduledST', 'Attendant Arrival',
           'Space Open', 'Work Start', 'Work Stop']
cause_prefix = ['WT/DT Cause Code','Cause Note']
# There are 6 start in a given shift, accounting for breaks, etc.  Each CSA could have a max of 6 entries per work order in a shift
for s in starts:
    times = ['{}{}'.format(t, s) for t in times_prefix]
    codes = ['{}{}'.format(c,s)  for c in cause_prefix]
    cols = index + times + codes
    df = rawdf[cols].copy()
    df['start_phase'] = s
    for i in range(8,13):
        df.iloc[:,i] = df.iloc[:,i].map(timeconvert)
        df.iloc[:,i] = np.where(df.iloc[:,i].dt.seconds<21600,df['clean_date']+df.iloc[:,i]+
                                dt.timedelta(days=1),df['clean_date']+df.iloc[:,i])
    df['delay0'] = np.where(((df.iloc[:,9]-df.iloc[:,8])<dt.timedelta(minutes = 0))
                            &(df.iloc[:,8]!=""),0,(df.iloc[:,9]-df.iloc[:,8]))
    df['delay1'] = np.where(((df.iloc[:,10]-df.iloc[:,9])<dt.timedelta(minutes = 0))
                            &(df.iloc[:,9]!=""),0,(df.iloc[:,10]-df.iloc[:,9]))
    df['delay2'] = np.where(((df.iloc[:,11]-df.iloc[:,10])<dt.timedelta(minutes = 0))
                            &(df.iloc[:,10]!=""),0,(df.iloc[:,11]-df.iloc[:,10]))
    df['tool_time'] = np.where(((df.iloc[:,12]-df.iloc[:,11])<dt.timedelta(minutes = 0))
                            &(df.iloc[:,11]!=""),0,(df.iloc[:,12]-df.iloc[:,11]))
    # Rename columns so can consistently manipulate
    df.columns = ['csas_id','Work Order', 'Code of Practice', 'Work Areas', 'Facility', 'clean_date',
       'Number of Crews', 'Shift', 'ScheduledST', 'Attendant Arrival',
       'Space Open', 'Work Start', 'Work Stop', 'WT/DT Cause Code',
       'Note', 'start_phase', 'delay0', 'delay1', 'delay2',
       'tool_time']
    templi.append(df.copy())
    df_tool_time = tool_time_transform(df.copy())
    df_non_work = non_work_transform(df.copy())
    li.append(df_tool_time)
    li.append(df_non_work)
#     li.append(df)

In [62]:
# Dataframe that gets sent to the various functions after it's been re-arranged.
templi[0].head()

,csas_id,Work Order,Code of Practice,Work Areas,Facility,clean_date,Number of Crews,Shift,ScheduledST,Attendant Arrival,Space Open,Work Start,Work Stop,WT/DT Cause Code,Note,start_phase,delay0,delay1,delay2,tool_time
0,6198637195,444659,31720,Primary Superheater Inspection & Repair,Sheerness - Unit 1,2017-11-29,3,Day,2017-11-29 07:45:00,2017-11-29 09:45:00,2017-11-29 09:45:00,NaT,NaT,CD,waiting for all clear after RT shots,1,02:00:00,0 days,NaT,NaT
1,6922622744,444659,31730,Secondary Superheater/Reheater Inspection and ...,Sheerness - Unit 1,2017-11-29,2,Day,2017-11-29 07:45:00,2017-11-29 09:45:00,NaT,NaT,NaT,CD,awaiting all clear on RT shots,1,02:00:00,NaT,NaT,NaT
2,1245158959,444659,31720,Primary Superheater Inspection & Repair,Sheerness - Unit 1,2017-11-29,2,Day,2017-11-29 07:45:00,2017-11-29 09:44:00,NaT,NaT,NaT,CD,"wait for ""all-clear"" after x-rays",1,01:59:00,NaT,NaT,NaT
3,7988405978,444694,31720,Primary Superheater Inspection & Repair,Sheerness - Unit 1,2017-11-29,2,Day,2017-11-29 07:50:00,2017-11-29 09:50:00,NaT,NaT,NaT,CD,RT shots - waiting until all clear,1,02:00:00,NaT,NaT,NaT
4,9946585899,444694,31730,Secondary Superheater/Reheater Inspection and ...,Sheerness - Unit 1,2017-11-29,5,Day,2017-11-29 07:50:00,2017-11-29 09:50:00,NaT,NaT,NaT,CD,RT shots - waiting until all clear,1,02:00:00,NaT,NaT,NaT

In [64]:
# Times that are returned for the coded lines
templi[0].apply(duration_calc,axis=1,result_type='expand').head()

                    0                   1        2               3          4
0 2017-11-29 07:45:00 2017-11-29 09:45:00 02:00:00   OpenLessSched  down_time
1 2017-11-29 07:45:00 2017-11-29 09:45:00 02:00:00  ArrivLessSched  down_time
2 2017-11-29 07:45:00 2017-11-29 09:44:00 01:59:00  ArrivLessSched  down_time
3 2017-11-29 07:50:00 2017-11-29 09:50:00 02:00:00  ArrivLessSched  down_time
4 2017-11-29 07:50:00 2017-11-29 09:50:00 02:00:00  ArrivLessSched  down_time

In [ ]:
# Times that are returned for the non coded lines
templi[0].apply(duration_calc,axis=1,result_type='expand').head()

In [36]:
def timedelta_to_hours(mytime):
    ''' converts the duration column into hours'''
    return mytime.seconds/3600

In [37]:
# concatenate all individual dataframes
sh_stack = pd.concat(li).sort_values(['clean_date','Work Order','Work Areas'])
# convert duration to hourly
sh_stack['duration']= sh_stack['duration'].map(timedelta_to_hours)
sh_stack['person_hours']=sh_stack['Number of Crews']*sh_stack['duration']
# add columns for company, project and year
sh_stack['company'] = 'Atco Power'
sh_stack['project']='Sheerness'
sh_stack['year']= '2017'

In [38]:
sh_stack['code_phase'].value_counts()
sh_stack.to_csv(path+'\\output\\sheerness_2017.csv',index=False)